body{
    background-color:rgb(199, 199, 241);
}

.hide{
    display: none;
    padding: 0;
}

.enterBudget {
    position:absolute;
    display: block;
    top: 35%;
    left: 35%;
    background-color:white;
    padding:25px;
}